* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body * {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: #097992;
}

img {
  width: 100%;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #303030;
  line-height: 1.6;
}

h3 {
  font-size: 18px;
  line-height: 21px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 14px;
}

button.brand-btn {
  background-color: rgb(9, 121, 146);
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 14px;

  border-radius: 4px;
  color: #fff;

  font-weight: 800;
  height: 50px;
  letter-spacing: 2px;
  margin-top: 25px;
  min-width: 172px;
  padding: 15px 30px;
  transition: opacity 0.4s ease-in-out;
  width: auto;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.video-foreground,
.video-background iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 64vh;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 100%;
    left: -100%;
  }
}

.heading {
  position: absolute;
  max-width: 800px;
  width: 80%;
  text-align: center;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: #097992;
    font-weight: 900;
    line-height: 80px;
    font-size: calc(80px - 0.2vw);
  }
}

// .btn {
//   text-align: center;
//   margin: 0 auto;
//   background: #54ced1;
//   font-size: 20px;
//   color: white;
//   padding: 10px 30px;
//   cursor: pointer;
// }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  overflow-y: initial !important;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem 0.5rem 1rem 2rem;
  width: 34rem;
  height: 90vh;
  overflow-y: auto;
  color: #666666;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  /* background-color: lightgray; */
}

.show-modal {
  opacity: 1; // change to 1 later;
  visibility: visible;
  transform: scale(1);
}

.modal_header {
  display: flex;
  align-items: center;

  h2 {
    font-size: 30px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.inner-wrapper {
  display: flex;
  margin-bottom: 1rem;
  /* justify-content: space-between; */
}

.fcol {
  flex-direction: column;
}

.frow {
  display: flex;
  width: 350px;
  margin-right: 1rem;
  justify-content: space-between;
}

.fp14 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
}

.pblock {
  margin-top: 1rem;
}

.fright {
  display: flex;
  justify-content: flex-end;
  border-bottom: #e1e1e1 1px solid;
  padding-bottom: 1rem;
}

.modal_btn {
  margin-top: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #54ced1;
  font-size: 15px;
  font-weight: 800;
  color: #fff;
  padding: 0.8rem 5rem;
}

.subtitle {
  font-weight: 300;
  margin-top: 3rem;
}

.group_item {
  padding-left: 2.5rem;
  margin-top: 0.5rem;
}

.item {
  margin-bottom: 1rem;
}

.strong {
  font-weight: 600;
}

.separator {
  margin-top: 2rem;
  border-bottom: 1px solid #e1e1e1;
}

.employer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.details {
  font-size: 18px;
  font-weight: 600;
}

#logo {
  background-image: url("https://storage.googleapis.com/happie-public.pagebuilder.me/b35fe6546a4ac01d077a229d5c28950d.jpg");
  width: 100px;
  height: 100px;
  margin-right: 0.5rem;
  background-size: cover;
  background-position: top center;

  // border: #303030 1px solid;
  border-radius: 60%;
  // object-fit: cover;
}

#avatar {
  background-image: url("http://i.stack.imgur.com/Dj7eP.jpg");
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.map {
  padding: 1rem 1rem;
  margin-top: 2rem;
  width: auto;
  height: 300px;
  background-color: #e1e1e1;
}

.body-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5% 2% 5% 2%;
}

.full-width {
  max-width: 100%;

  .color-overlay {
    width: 100%;
    background: url("https://storage.googleapis.com/happie-public.pagebuilder.me/1810a335006301673235b81bd05f9ab3.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    background-size: contain;
    background-position: top center;
  }

  .content-wrapper {
    // margin: 50% unset;
    margin-top: 10%;
    margin-bottom: 10%;

    img {
      width: 70px;
      height: 70px;
    }
  }

  .column {
    place-self: center;
  }

  .content-wrapper h3 {
    color: #f5f5f5;
    font-size: 30px;
    margin-bottom: 0.5em;
  }

  .content-wrapper p {
    color: #f5f5f5;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
  }

  .half-columns {
    .team-image {
      background-image: url("https://storage.googleapis.com/happie-public.pagebuilder.me/fa088b61050deb046eb7bb7d41d793fc.jpg");
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top center;
    }
  }
}

.nine-width {
  max-width: 90%;

  .logo {
    margin-right: 2em;
    margin-bottom: 2em;
  }
}

.two-columns,
.half-columns {
  display: grid;
}

.two-columns {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1em;
}

.half-columns {
  grid-template-columns: 50% 50%;
}

.column {
  place-self: center;
  p {
    margin-top: 2em;
  }
}

@media (max-aspect-ratio: 16/9) {
  .half-columns,
  .two-columns {
    display: block;
  }
}

/*Grid Members */
.team-members ul {
  text-align: center;
}

.team-members ul li {
  width: 300px;
  display: inline-block;
  margin-top: 3em;
  padding: 1em;
  margin: 0 25px 0 0;

  // img {
  //   margin: 0 3em;
  // }
}

@media (max-aspect-ratio: 16/9) {
  .team-members ul li {
    // width: 80%;
    display: inline-flex;
    flex-direction: column;
  }
}
.team-member {
  h3 {
    padding-top: 2em;
    color: #303030;
  }

  span {
    font-size: 12px;
    line-height: 14px;
  }
}

.news-section {
  h2 {
    font-weight: 600;
    margin-bottom: 2em;
  }
}

/*featured in module */
.featured-in {
  display: inline-block;
  margin: 0 auto;

  img {
    max-width: 300px;
    height: 100px;
    object-fit: contain;
  }
}

/*logos* module */
.logos {
  display: block;
  text-align: center;

  .logo {
    display: inline-block;
    vertical-align: middle;

    img {
      max-width: 240px;
      max-height: 170px;
      object-fit: contain;
    }
  }
}

.newsletter-section {
  width: 50%;
  h2 {
    color: #303030;
    margin-bottom: 0.5em;
  }
}

.life-section {
  h2 {
    color: #666666;
  }

  .responsive {
    margin-top: 5em;
    margin-bottom: 5em;

    .courosel-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      outline: none;
      text-align: center;
      margin: 6em 3em;

      h3 {
        font-size: 30px;
        color: #303030;
        width: 180px;
        line-height: 1em;
        margin-bottom: 3em;
      }

      p {
        font-size: 15px;
        color: #303030;
      }
    }
  }
}

ul.slick-dots {
  margin-top: 3em;
}
.slick-prev:before,
.slick-next:before {
  color: #131216 !important;
}

/*footer cta*/
.content-wrapper {
  max-width: 400px;
  margin: 2em auto;
  color: #fff;

  h3 {
    color: #fff;
    margin-top: 1em;
  }

  p {
    color: #fff;
  }

  img {
    width: 100px;
    display: block;
  }
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #087992;

  .group-item {
    margin-top: 5%;
    // margin-bottom: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      //margin-top: 15%;
      display: flex;
      flex-direction: column;

      margin-right: 6em;

      ul li {
        list-style-type: none;
        margin-bottom: 0.8em;
      }

      a {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
      }
    }

    .social-icon {
      //margin-top: 15%;
      margin-bottom: 20%;
      ul li {
        display: inline;
        list-style-type: none;
        margin-right: 1em;
      }

      a {
        color: #fff;
        font-size: 40px;
        text-decoration: none;
      }
    }
  }
}

.end-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #131216;

  p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
  }
}
